.container {
  display: flex;
  justify-content: space-between;
}
.cards {
  max-width: 60%;
}

.mediumCards {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.miniCards {
  max-width: 30%;
}